bin/
obj/
bin/Debug/code.p
bin/Debug/Compilator.exe
bin/Debug/Compilator.pdb
obj/Debug/Compilator.exe
obj/Debug/Compilator.pdb
obj/Debug/CoreCompileInputs.cache
obj/Release/CoreCompileInputs.cache
bin/Debug/Compilator.exe
bin/Debug/Compilator.exe
bin/Debug/Compilator.pdb
obj/Debug/Compilator.exe
obj/Debug/Compilator.pdb
bin/Debug/code.p
